*{
    margin:0;
    padding:0;
}
.wrapper{
    position: relative;
    transform-style: preserve-3d;
    perspective: 800px;
    height:14rem;
    margin-top:14rem;
}
.wrapper img{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 21.5rem;
    height: 14rem;
    margin-left: -10.7rem;
    margin-top: -7.2rem;
    border-radius: 0.6rem;
    transition: transform 0.5s ease-in-out;
}
